.popular__button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FF6E30;
  padding: 17px 38px;
  background-color: inherit;
  cursor: pointer;
  margin-top: 98px;
  border-radius: 8px;
  transition: all .5s linear;
}

.popular__button:hover {
  color: white;
  background-color: #FF6E30;
}
